pairs
./STL/map
ignorefile
vector01
capital
armstrong
largestNumber
minimum
maximum
findElement 
reverseArray
secondLargest
cyclicRotation 
arr
01basic
01pattern
02pattern
03pattern
04pattern
05pattern
06pattern
07pattern
08pattern
09pattern
10pattern
11pattern
12pattern
13pattern
14pattern
15pattern
16pattern
17pattern
18pattern
19pattern
20pattern
21pattern
22pattern
23pattern
24pattern
25pattern
26pattern
BubbleSort
SelectionSort
InsertionSort